/* ***************************************GENERAL ********************************************************* */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  color: #e53171;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* ***************************************** MAIN **********************************************************/

img{
  width: 90px;
  height: 90px;
}

 h3,
 span{
  color:white
 }

 a{
  text-decoration: none;
 }

 a:hover{
  text-decoration: none;
  color: #e53171;
 }

 .card{
  background-color: black;
  width: 310px;
  height: 90px;
 }